* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    color: black;
    background-color: #9FE2BF;
}

header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    background-color: black;
    min-height: 75px;
}

header a {
    text-decoration: none;
    color: black;
    background-color: #9FE2BF;
    font-weight: bold;
    transition: color .1s;
    padding: 5px;
    border-radius: 18px;
}

a:hover {
    color: brown;
}

li {
    padding: 20px 30px 20px 30px;
}

.post {
    border: 1pt solid black;
    padding: 2px;
}

.title {
    font-size: 20px;
    background-color: black;
    min-height: 40px;
}

.title a {
    color: gray;
    font-size: 14px;
    justify-content: left;
    align-content: center;
}

.title p {
    color: gray;
    font-size: 11px;
    justify-content: right;
}

.blog-info {
    padding: 10px;
}

textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea:focus, input:focus {
    outline: none;
    border: 1px solid black;
}

textarea {
    min-width: 40%;
    min-height: 100px;
}

form > div {
    margin-bottom: 1.2%;
}

form label {
    display: block;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.post-date {
    color: gray;
    font-size: 10px;
}

.login-form, .signup-form {
    padding: 20px;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 18px;
    max-width: 35%;
    background-color: black;
    color: #9FE2BF;
}

