* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    color: black;
    background-color: #9FE2BF;
}

header {
    background-color: black;
    padding: 30px;
}

header a {
    text-decoration: none;
    color: black;
    background-color: #9FE2BF;
    font-weight: bold;
    transition: color .1s;
    padding: 5px;
    border-radius: 18px;
}

a:hover {
    color: brown;
}

li {
    padding: 20px 30px 20px 30px;
}

.post {
    border: 1pt solid black;
    padding: 2px;
}

.title {
    font-size: 20px;
    background-color: black;
    min-height: 40px;
}

.title a {
    color: gray;
    font-size: 14px;
    justify-content: left;
    align-content: center;
}

.title p {
    color: gray;
    font-size: 11px;
    justify-content: right;
}

.blog-info {
    padding: 10px;
}

.post-date {
    color: gray;
    font-size: 10px;
}